@charset "utf-8";

body {
    font-family: sans-serif;
    background-color: rgb(240, 240, 240);
    color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    padding: 50px;
}

header h1 {
    color: #9e9e9e;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 60px;
    white-space: nowrap;
}

main {
    min-width: 1000px;
    width: 100px;
    margin: 50px auto;
}

.content li {
    position: relative;
}

.content li.show h2,
.content li.show p,
main .content li.show img {
    transform: none;
    opacity: 1;
}

/* liの1つ目以外 */
.content li:not(:first-of-type) {
    margin-top: 500px;
}

/* liの奇数のみ */
.content li:nth-of-type(odd) .contentsText {
    right: 0;
}

.content li:nth-of-type(odd) img {
    opacity: 0;
    transform: translateX(-20px);
    transition: 1s;
}

/* liの偶数のみ */
.content li:nth-of-type(even) img {
    margin-left: auto;
    opacity: 0;
    transform: translateX(20px);
    transition: 1s;
}

.content li:nth-of-type(even) p {
    align-items: flex-start;
}

.contentsText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;
}

.content h2 {
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(20, 20, 20, .8);
    padding: 10px 20px;
    line-height: 1.4;
    letter-spacing: .05em;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

.content p {
    line-height: 1.6;
    background-color: #555;
    font-size: 20px;
    max-width: 340px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

.content img {
    width: 65%;
    display: block;
    border-radius: 5px;
}